  @import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
    
  @import url('https://use.typekit.net/xuo8cnp.css');
    
  * {box-sizing: border-box;}
  body { 
    margin:0;
    color: #35302D; 
    font-family: fairplex-wide, serif;
    font-size: 22px; 
}
  
  h1{
    font-family: "zebrawood-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 240px; 
    color: #35302D; 
    text-align: center;
    margin:0;
}
 
h2{
    font-family: 'Rye', serif;
    font-size: 80px; 
    font-weight:400; 
    color: #35302D; 
    font-style: regular; 
    text-align: center;
    margin:0;
}

h3{
    font-family: 'Rye', serif;    
    font-size: 90px; 
    font-weight:400; 
    color: #35302D; 
    font-style: normal; 
    text-align: center; 
    margin:0;
}

.bold {
    font-weight:500;
}

  section {
    width:100vw;
    height:100vh;
    display:flex;
    overflow:hidden;
  }
  section > article {
    flex:1;
  }
  .landing-page{
    background-color: #DC4F36;
  }
  .one {
    background-color: #DC4F36;
    position: relative;
  }
  .two {
    background-color: #DC4F36;
    position: relative;
  }
  .three {
    background-color: #DAA944;
    position: relative;
  }
  .four {
    background-color: #99BB72;
    position: relative;
  }

  .ticket-hover {
    display: none;
  }

   /* Second setion */

  .one .right-content {
    display:flex;
    align-items:top;
    justify-content:flex-end;
  }
  .one .left-content {
    position:relative;
    bottom: -100px;
  }
  .one .right-overlay {
    bottom: 0;
    right: 0;
    position:absolute;
  }

  .two .left-content {
    display:flex;
    align-items:top;
    justify-content:flex-start;
  }
  .two .right-content {
    position:relative;
    right: 500px;
    bottom: -8px;
  }
  .two .left-overlay {
    bottom: -480px;
    right: 520px;
    position:relative;
  }

  .three .right-content {
    display:flex;
    align-items:top;
    justify-content:flex-end;
  }
  .three .left-content {
    position:relative;
    bottom:0;
    right: 10px;
  }
  .three .right-overlay {
    bottom:-500px;
    left:-570px;
    position:relative;
  }
  
  .four .left-content {
    display:flex;
    align-items:top;
    justify-content:flex-start;
  }
  .four .right-content {
    position:relative;
    right: 350px;
    bottom:-100px;
  }
  .four .left-overlay {
    bottom:-500px;
    right:450px;
    position:relative;
  }


  .ticket {
  margin: 50px;
    min-height:400px;
  background-color: #F0E9D7;
  position: relative;
  }

.ticket .corner {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.one .ticket .corner {
background-color: #DC4F36;
}
.two .ticket .corner {
background-color: #DAA944;
}
.three .ticket .corner {
    background-color: #99BB72;
}
.four .ticket .corner {
    background-color: #4E9CB1;
}
.ticket .content {
padding:20px;
}
.top { top: -10px; }
.bottom { bottom: -10px; }
.left { left: -10px; }
.right { right: -10px; }


.landing-page{
    background-image: url(images/swirl-wavy-background.png);
    background-size:cover;
    background-repeat: no-repeat;
    height:100vh;
    width:100vw;
}
.landing-ticket{
    margin:auto;
    background-image: url(images/landing-ticket.png);
    background-size:cover;

}

.one {
    height: 140vh;
}
.two {
    background-image: url(images/yellow-wavy-background.png);
    background-size: cover;
    height:140vh;
    width:100vw;
    margin-top: -50px;
}

.three{
    background-image: url(images/green-wavy-background.png);
    background-size: cover;
    height: 140vh;
    width: 100vw;
}

.four{
    background-image: url(images/blue-wavy-background.png);
    background-size: cover;
    height: 140vh;
    width: 100vw;
}
.navigation {
    display: flex;
}
.navigation div {
    flex: 1; 
    text-align: center;
}