  @import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
    
  @import url('https://use.typekit.net/xuo8cnp.css');
    
  * {box-sizing: border-box;}
  body { 
    margin:0;
    color: #35302D; 
    font-family: fairplex-wide, serif;
    font-size: 22px; 
}
  
  h1{
    font-family: "zebrawood-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 240px; 
    color: #35302D; 
    text-align: center;
    margin:0;
}
 
h2{
    font-family: 'Rye', serif;
    font-size: 80px; 
    font-weight:400; 
    color: #35302D; 
    font-style: regular; 
    text-align: center;
    margin:0;
}

h3{
    font-family: 'Rye', serif;    
    font-size: 90px; 
    font-weight:400; 
    color: #35302D; 
    font-style: normal; 
    text-align: center; 
    margin:0;
}

.bold {
    font-weight:500;
}

  section {
    width:100vw;
    height:100vh;
    display:flex;
    overflow:hidden;
    position:relative;
  }
  /* section > article {
    flex:1;
  } */
  .landing-page{
    background-color: #DC4F36;
  }
  .one {
    background-color: #DC4F36;
    position: relative;
  }
  .two {
    background-color: #DC4F36;
    position: relative;
  }
  .three {
    background-color: #DAA944;
    position: relative;
  }
  .four {
    background-color: #99BB72;
    position: relative;
  }

  .ticket-hover {
    display: none;
  }

   /* Second setion */

  .one .right-content {
    display:flex;
    align-items:top;
    justify-content:flex-end;
  }
  .one .left-content {
    position:relative;
    bottom: -100px;
    left: 0;
  }
  .one .right-overlay {
    bottom: 0;
    right: 0;
    position:absolute;
  }

  .one .left-content img{
    width: 100%;
  }

  .two .left-content {
    display:flex;
    align-items:top;
    justify-content:flex-start;
  }
  .two .right-content {
    position:absolute;
    right: -50px;
    bottom: -8px;
  }
  .two .left-overlay {
    bottom: -90px;
    left: 0;
    position:absolute;
  }

  .three .right-content {
    align-items:top;
    justify-content:flex-start;

  }
  .three .left-content {
 flex:1;
  }

.three .left-content img {
  width: 100%;
}
  .three .right-overlay {
    bottom: -390px;
    right: 0;
    position:absolute;
  }
  
  .four .left-content {
    display:flex;
    align-items:top;
    justify-content:flex-start;
  }
  .four .right-content {
    position:absolute;
    right: -20px;
    bottom:-5px;
  }
  .four .left-overlay {
    bottom:-5px;
    left:0;
    position:absolute;
  }


  .ticket {
  margin: 50px;
    min-height:400px;
  background-color: #F0E9D7;
  position: relative;
  width:45vw;
  }

.ticket .corner {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.one .ticket .corner {
background-color: #DC4F36;
}
.two .ticket .corner {
background-color: #DAA944;
}
.three .ticket .corner {
    background-color: #99BB72;
}
.four .ticket .corner {
    background-color: #4E9CB1;
}
.ticket .content {
padding:20px;
}
.top { top: -10px; }
.bottom { bottom: -10px; }
.left { left: -10px; }
.right { right: -10px; }


.landing-page{
  padding-top: 100px;
    background-image: url(images/swirl-wavy-background.png);
    background-size:cover;
    background-repeat: no-repeat;
    height:auto;
    width:100vw;
}
.landing-ticket{
    margin:auto;
    background-image: url(images/landing-ticket.png);
    background-size:cover;
    height:100%;
    width:75%;
}
.landing-ticket h2 {
  padding-top: 50px;
  line-height:100%;
}
.wave {
  width:100vw;
  /* height:39px; */
  position:absolute;
  bottom:0;
  left:0;
  right:0;
}
.wave2 {
  width: 100vw;
  position: absolute;
  bottom:-170px;
  left:0;
  right:0;
}
.one {
    height: 140vh;
    background-color: #DC4F36;
}
.two {
    background-color: #daa943;
    height:145vh;
    width:100vw;

}

.three{
    background-color: #99BB72;
    height: 140vh;
}

.four{
  background-color: #4E9CB1;
    height: 135vh;
    width: 100vw;
}
.navigation {
    display: flex;
    padding-bottom:80px;
    padding-top: 50px;
}
.navigation div {
    flex: 1; 
    text-align: center;
}